<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Arguments?</key>
		<string>slide=0 darkwake=0</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>\EFI\MICROSOFT\bootmgfw.efi</string>
		<key>DefaultVolume</key>
		<string>esp</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<false/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>15</integer>
		<key>XMPDetection?</key>
		<string>-1</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Image</key>
					<string>os_steamos</string>
					<key>Path</key>
					<string>\EFI\STEAMOS\STEAMCL.efi</string>
					<key>Title</key>
					<string>SteamOS</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>SteamOS for Steam Deck</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_steamos</string>
					<key>Path</key>
					<string>\EFI\STEAMOS\STEAMCL.efi</string>
					<key>Title</key>
					<string>SteamOS</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>SteamOS - External SSD</string>
					<key>VolumeType</key>
					<string>External</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_win</string>
					<key>Path</key>
					<string>\EFI\MICROSOFT\bootmgfw.efi</string>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>FullTitle</key>
					<string>Windows Internal SSD</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_win</string>
					<key>Path</key>
					<string>\EFI\MICROSOFT\boot\bootmgfw.efi</string>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>FullTitle</key>
					<string>Windows To Go - External SSD</string>
					<key>VolumeType</key>
					<string>External</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_win</string>
					<key>Path</key>
					<string>\EFI\MICROSOFT\boot\bootmgfw.efi</string>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>FullTitle</key>
					<string>Windows To Go - sdcard</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_batocera</string>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>Batocera</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>BATOCERA</string>
					<key>FullTitle</key>
					<string>Batocera Retro Gaming</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_recovery</string>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>Ventoy</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>VTOYEFI</string>
					<key>FullTitle</key>
					<string>Ventoy MultiBoot USB</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_fedora</string>
					<key>Path</key>
					<string>\EFI\fedora\shimx64.efi</string>
					<key>Title</key>
					<string>Fedora</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Fedora / Nobara / Bazzite</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_kali</string>
					<key>Path</key>
					<string>\EFI\kali\grubx64.efi</string>
					<key>Title</key>
					<string>Kali</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Kali Linux</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_ubuntu</string>
					<key>Path</key>
					<string>\EFI\ubuntu\shimx64.efi</string>
					<key>Title</key>
					<string>Ubuntu</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Ubuntu Linux</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_centos</string>
					<key>Path</key>
					<string>\EFI\centos\shimx64.efi</string>
					<key>Title</key>
					<string>CentOS / RHEL</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>CentOS / RHEL</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_debian</string>
					<key>Path</key>
					<string>\EFI\debian\grubx64.efi</string>
					<key>Title</key>
					<string>Debian</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Debian Linux</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_manjaro</string>
					<key>Path</key>
					<string>\EFI\manjaro\grubx64.efi</string>
					<key>Title</key>
					<string>Manjaro</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Manjaro Linux</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>os_ubuntu</string>
					<key>Path</key>
					<string>\EFI\systemd\systemd-bootx64.efi</string>
					<key>Title</key>
					<string>Pop!_ OS</string>
					<key>Type</key>
					<string>Linux</string>
					<key>FullTitle</key>
					<string>Pop!_OS by System76</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClickTime?</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror?</key>
			<false/>
			<key>Speed</key>
			<integer>20</integer>
		</dict>
		<key>PlayAsync</key>
		<true/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1280x800</string>
		<key>Timezone</key>
		<integer>3</integer>
		<key>Theme</key>
		<string>Apocalypse</string>
	</dict>
</dict>
</plist>
